// Colors
$clr1:#2D383A;
// $clr1: #593cfb;

$clr2:#f66c39;
$clr3:#ff0099;
$clr4:#ff7d15;
$clr5:#8400ff;
// Breakpoints
$mobile-breakpoint: 560px;
$narrow-breakpoint: 660px;
$normal-breakpoint: 960px;
$wide-breakpoint:1280px