.button-link {
    background: transparent;
    border: none;
    color: $clr1;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    line-height: unset;
    height: auto;
    padding: 0;
    white-space: normal;
}