.grid {
  display: grid;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.space-around {
  justify-content: space-around;
}

.center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.capi {
  text-transform: capitalize;
}
.bold {
  font-weight: bold;
}

.column {
  flex-direction: column;
}

.right {
  text-align: right !important;
}
.align-self {
  align-self: center;
}

// media-helpers
.square-ratio {
  @include aspect-ratio(1, 1);
}

.video-ratio {
  @include aspect-ratio(16, 9);
}

.poster-ratio {
  @include aspect-ratio(1, 1.5);
}
